APP_NAME=soat-trigger
APP_KEY=
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_DEBUG=true
APP_ENV=local
APP_URL=

SESSION_DRIVER=file

RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_VHOST="/"

ANALYSIS_SERVICE_URL="http://analysis-service:8080"
