APP_NAME=soat-trigger
APP_KEY=base64:1coo1g1TzQIFIWhmEaIJJbSA5vMcVnd6sISxKKcuYUc=
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_DEBUG=true
APP_ENV=local
APP_URL=

SESSION_DRIVER=file

RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_VHOST="/"

LOG_CHANNEL=stderr_json
LOG_LEVEL=debug

OTEL_SERVICE_NAME=soat-trigger
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_TRACES_SAMPLER=always_on
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp

ANALYSIS_SERVICE_URL="http://diagram-analyzer-service:8000"
