APP_NAME=Upload
APP_KEY=
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_DEBUG=true
APP_ENV=local
APP_URL=

SESSION_DRIVER=file

FILESYSTEM_DISK="minio"
MINIO_ENDPOINT="http://minio:9000"
MINIO_ACCESS_KEY="min"
MINIO_SECRET_KEY="12345678"

RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_VHOST="/"
